RP/1/RP0/CPU0:JC22CRS#sh run | i event manager
Fri Mar 26 20:07:25.681 UTC
Building configuration...
event manager directory user policy harddisk:/eem
event manager policy bcc.tcl username teamops type user
RP/1/RP0/CPU0:JC22CRS#
RP/1/RP0/CPU0:JC22CRS#sh run | i eventman
Fri Mar 26 20:07:41.392 UTC
Building configuration...
aaa authorization eventmanager default local
